.share-fx{
  color:white;
  background-color:#5694f1;
  padding:0.5em;
  border-radius:0.2em;
}

/* nav.main-nav{
  background-color: black;
  padding-bottom:20px;
}

nav.main-nav a {
  color: #ffffff;
} */